@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    color: #ffffff;
    padding: 20px;
    background-color: #2a2a2a;
    font-family: 'Raleway', sans-serif;
}

button {
    outline: none;
}

* {
    text-decoration: none;
}

#footer {
    color: #dedede;
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 40px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #ffffff;
}

hr {
    width: 300px;
}

#snoo {
    content: url(../img/snoo.png);
    width: 100px;
    margin: 30px auto;
    border: 15px solid white;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    #snoo {
        width: 70px;
    }
    #wierd-reddit {
        padding-top: 20px;
        text-align: center;
        font-size: 20px;
    }
    #quotes {
        height: 100px;
    }
    hr {
        width: 80px;
    }
}

.bloo {
    border: 15px solid #08ff6f !important;
    opacity: .6;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.snoo {
    border: 15px solid white !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

#wierd-reddit {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

#container {
    width: 80%;
    margin: auto;
}

#quote {
    position: relative;
    top: -60px;
    padding-top: 60px;
    text-align: center;
    font-size: 80px;
    height: 270px;
    overflow: hidden;
    z-index: 10;
}

#next {
    text-align: center;
}

#next img {
    width: 40px;
    height: 40px;
}

#loading {
    position: relative;
    top: 80px;
    display: block;
    width: 200px;
    margin: 20px auto 0;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    z-index: 9;
}

.btn-wrap {
    display: block;
    width: 80px;
    margin: 30px auto 0;
}

.btn {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #ffffff;
    background: transparent;
    font-size: 20px;
    font-weight: 900;
    padding: 13px 15px 13px 15px;
    border: solid #ffffff 6px;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 1;
}

.btn:hover, .btnon:hover {
    background: rgba(255, 255, 255, .1);
    text-decoration: none;
    cursor: pointer;
}

.btnoff {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #ffffff;
    background: rgba(0, 0, 0, .5);
    font-size: 20px;
    font-weight: 900;
    padding: 13px 15px 13px 15px;
    border: solid #000000 6px;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: .5;
}

.btnoff img {
    opacity: .5;
}

.btnon {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #ffffff;
    background: transparent;
    font-size: 20px;
    font-weight: 900;
    padding: 13px 15px 13px 15px;
    border: solid #ffffff 6px;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 1;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        border: 15px solid yellow;
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        border: 15px solid yellow;
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulsein {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
    50% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
        border: 15px solid white;
        opacity: 0.9;
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
}

@keyframes pulsein {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
    50% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
        border: 15px solid white;
        opacity: 0.9;
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        border: 15px solid white;
    }
}

.pulsein {
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
